# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/ venv/

# Training outputs / weights
YOLOX_outputs/
YOLOv8_outputs/
*.pth
*.pt
*.onnx
*.torchscript
*.engine

# Data (keep yamls, ignore datasets)
/datasets/
/dataset/
runs/
vis/
*.jpg
*.png
*.mp4

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
